body {
  font-family: Arial;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #131921;
  color: white;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
}
